.mainContainer,
body {
  direction: rtl;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form,
label {
  display: contents;
  /* border: 0 solid black; */
}

.formContainer {
  text-align: -webkit-center;
}

.titleUser {
  font-size: 1.3rem;
  text-align: center;
  color: rgba(211, 62, 35, 0.514);
  margin-bottom: 5%;
}

.inputContainer div {
  /* width: 100%; */
  /* margin: 0 25% 0 25%; */
  font: 1.1rem alef;
  font-weight: 800;
  align-content: center;
}

.phaseContainer div {
  background-color: rgba(211, 62, 35, 0.514);
  border-radius: 10px;
  padding: 3% 10% 3% 10%;
  margin: 25% 10% 12% 15%;
}

.phaseContainer div:hover {
  background-color: rgba(66, 54, 236, 0.637);
}

.phaseContainer a,
.inputContainer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer input,
.passwordResetContainer input {
  margin: 1% 1% 1% 1%;
  padding: 2% 2% 2% 2%;
  border-radius: 15px;
  border-color: rgba(211, 62, 35, 0.514);
}

.inputContainer input:focus,
.passwordResetContainer input:focus {
  outline: none;
}

.inputContainer button,
.passwordResetContainer button {
  color: #fff;
  background-color: #68d391;
  border-radius: 10px;
  padding: 11px 15% 11px 15%;
  margin-top: 12%;
  margin-bottom: 5%;
}

.inputContainer button:hover,
.passwordResetContainer button:hover {
  background-color: rgb(3, 70, 66);
}

.loginContainer,
.passwordResetContainer {
  width: 100%;
  text-align-last: center;
}

.loginContainer button {
  background-color: #f56565;
}

.loginContainer a,
.passwordResetContainer a {
  text-decoration: none;
  color: #4299e1;
}
