.mainContainer,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form,
label {
  display: contents;
}

.titleUserSign {
  font-size: 1.3rem;
  text-align: center;
  color: rgba(211, 62, 35, 0.514);
  margin-bottom: 5%;
}

.inputContainer div {
  /* width: 100%; */
  margin: 0 25% 0 25%;
  font-weight: 800;
  align-content: center;
  font: 1.8rem alef;
}

.phaseContainer div {
  background-color: rgba(211, 62, 35, 0.514);
  border-radius: 10px;
  padding: 3% 10% 3% 10%;
  margin: 25% 10% 12% 15%;
}

.phaseContainer div:hover {
  background-color: rgba(66, 54, 236, 0.637);
}

.phaseContainer a,
.inputContainer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer input {
  margin: 1% 1% 1% 1%;
  padding: 2% 2% 2% 2%;
  border-radius: 15px;
  border-color: rgba(211, 62, 35, 0.514);
}

.inputContainer input:focus {
  outline: none;
}

.inputContainer button {
  color: #fff;
  background-color: dimgrey;
  border-radius: 10px;
  padding: 11px 10% 11px 10%;
  margin: 7% 10% 6% 15%;
}

.inputContainer button:hover {
  background-color: rgba(211, 62, 35, 0.514);
}
